header {
  width: 100vw;
  border-bottom: solid 2px;
  background-image: linear-gradient(to right, #ffffff00 0%, #ffffff10 50%, #ffffff00 100% );
  border-image: linear-gradient(to right, #ffffff00 0%, #ffffff3f 50%, #ffffff00 100% );
  border-image-slice: 1;
  height: 5rem;
  z-index: 1;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media screen and (max-width:750px){
      justify-content: center;
    }

    .link{
      color: $tertiary-color;
      padding: 0.5rem 1rem;
      border: solid 2px $tertiary-color;
      border-radius: 15px;
    }
  }
}

section {
  
  //border-bottom: solid 1px;
  height: auto;
  width: 100vw;
  padding: 2rem 0;
  left: 0;
  min-height: 100vh;
  
  &.section_sec-01{
    box-sizing: border-box;

    

    

    .container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      height: 100%;

      @media screen and (max-width:900px){
        grid-template-columns: 1fr;
      }

      @media screen and (max-width:750px){
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      @media screen and (max-width:750px){
        max-width: 95%;
      }
      
  

      .presentation{

        &-text{
          grid-column: 1;
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
        }
  
        &-image{
          grid-column: 2;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          position: relative;
          
                      
          &::before{
            content: ' ';
            display: flex;
            width: 5rem;
            height: 10rem;
            background-color: $quartenary-color;
            position: absolute;
            
            left: 3rem;
            border-radius: 100px;
            top: 30%;

            @media screen and (max-width:1100px){
              top: 10%;
              left: 25%;
            }

            @media screen and (max-width:900px){
              top: 0%;
              left: 0;
            }
          }
          &::after{
            content: ' ';
            display: flex;
            width: 5rem;
            height: 7rem;
            background-color: $secondary-color;
            position: absolute;
            border-radius: 100px;
            z-index: 10;
            bottom: 2rem;
            right: 2.5rem;

            @media screen and (max-width:900px){
              bottom: -10%;
              right: 5%;
            }

            @media screen and (max-width:1100px){
              bottom: -5%;
              right: 5%;
            }
          }

        
          img{
            height: 500px;
            width: auto;
            position: relative;
            z-index: 1;

            @media screen and (max-width:1100px){
              height: 400px;
            }

            @media screen and (max-width:900px){
              height: 350px;
            }
          }
        }

        &_buttons{
          display: flex;
          margin: 0.3rem 0;

          @media screen and (max-width:400px){
            flex-direction: column;
            width: 100%;
          }
        }
      }

      
    }
  }

  &.section_sec-02{
    
    .container{

      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;

      @media screen and (max-width:750px){
        display: flex;
        flex-direction: column;
      }

      .o-que-e{
        grid-column: span 6;
  
        &_atributos{
          grid-column: span 6;
        }
      }

      
      .search-content{
        grid-column: 1/-1;
        
        display: flex;
        justify-content: center;
        form{
          margin: 2rem;
          max-width: 50%;
          display: flex;
          flex-direction: column;

          @media screen and (max-width:750px){
            max-width: 100%;
            width: 100%;
    
          }

          @media screen and (max-width:600px){
            
            margin: 0 ;
          }

          label{
            text-align: center;
            color: $tertiary-color;
            font-weight: 700;
            font-size: $medium;
            line-height: $medium;
          }

          input[type='text']{
            margin: 0.5rem;
            background-color: $primary-color;
            padding: 0.8rem 1.5rem;
            outline: none;
            border: none;
            border-radius: 20px;
            font-size: $medium;
            color: #fff;

            &::placeholder{
              color: #D9D9D9;
              position: relative;

              @media screen and (max-width:600px){
                font-size: $small;
              }
            }

            transition: ease-in-out 0.1s;

            &:focus{
              border: solid 3px #fff;

              box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
            }
          }
        }
      }
      .courses-content{
        padding: 2rem 0rem;
        background-image: linear-gradient(to right, #ffffff00 0%, #ffffff10 50%, #ffffff00 100% );
        grid-column: 1/-1;

        h3{
          width: 100%;
          text-align: center;
          
        }
        .courses-list{
          columns: 3;
          padding: 1.5rem;
          column-gap: 3rem;
          font-size: $small + 0.2rem;
          

          @media screen and (max-width:900px){
            columns: 2;

          }

          @media screen and (max-width:750px){
            columns: unset;
            
          }
          
          li{
            margin: 0.2rem 0;

          }
        }
      }
    }

  }

  &.section_sec-03{
    .container{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;
      height: 100%;


      @media screen and (max-width:750px){
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .se-prepare{

        &_first-content{
          grid-column: span 6;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .materials-list{

            &_item{
              display: flex;
              align-items: center;
              justify-content: center;

              span{
                display: inline-flex;
                max-width: 50%;
                line-height: $small + 0.1rem;
              }
              img{
                height: 3.5rem;
                width: 3.5rem;
                margin: 0.5rem 1rem;
              }
            }
          }
        }

        &_last-content{
          grid-column: span 6;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &>span{
            font-size: $medium;
            text-align: center;
            line-height: $medium + 0.2rem;
            margin: 0.8rem;
            width: 100%;
          }

          img{
            &.img-chamada{
              width: 80%;
            }
          }
        }
      }
    }
  }

  &.section_sec-04{
    
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .schendule-part{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        height: 100%;
      }
    }
  }
}

.btn{
  display: flex;
  height: 3rem;
  min-width: 8rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  margin-right: 0.3rem;
  font-weight: 600;
  font-size: $small;

  @media screen and (max-width:700px){
    font-size: $x-small;
  }

  @media screen and (max-width:400px){
    min-width: 100%;
    margin: 0.3rem;
    font-size: $small;
  }

  text-decoration: none;
  
  outline: none;
  border: none;

  &-primary{
    background-color: $tertiary-color;
    color: $primary-color;
    transition: ease-in-out 0.1s;

    &:hover{
      transform: scale(1.03);  
    }
    
  }
  &-secondary{
    background-color: transparent;
    color: $tertiary-color;
    border: solid 2px $tertiary-color;
    
    transition: ease-in-out 0.1s;

    &:hover{
      transform: scale(1.03);  
    }
  }

  &-with-icon{
    display: flex;
    overflow: hidden;
    position: relative;
    width: 18rem;
    border-radius: 20px;
    height: 3.5rem;
    background: $secondary-color;
    color: white;
    box-shadow: 4px 2px 25px -1px rgba(0,0,0,0.2);  

    span{
      position: absolute;
      right: 0;
      width: 70%;
    }

    .button-icon{
      background-color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: absolute;
      left: 0;
      width: 25%;

      img{
        height: 2.5rem;
      }
    }

    transition: ease-in-out 0.2s;

    &:hover{
      transform: scale(1.1);
      background-color: $quintenary-color;

    }
    &:active{
      background-color: $primary-color;
    }
  }
}

//Attributes

.attribute{
  display: flex;
  
  
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width:900px){
    flex-direction: row;
    margin-bottom: 1rem;
  }

  @media screen and (max-width:750px){
    flex-direction: column;
  }

  @media screen and (max-width:550px){
    flex-direction: row;
    justify-content: center;

  }
  
  &_icon{
    padding: 2rem;
    background-color: $secondary-color;
    display: flex;
    width: fit-content;
    border-radius: 100px;

    @media screen and (max-width:1100px){
      padding: 1.5rem;
    }
    @media screen and (max-width:900px){
      padding: 1rem;
    }
    @media screen and (max-width:550px){
      padding: 1.5rem;
    }

    img{
      height: 2.5rem;

      @media screen and (max-width:1100px){
        height: 2rem;
      }

      @media screen and (max-width:900px){
        height: 1.5rem;
      }
      @media screen and (max-width:550px){
        height: 2rem;
      }
    }
  }

  span{
    margin-top: 1rem;
    display: flex;
    width: 10rem;
    text-align: center;
    line-height: 1rem;
    font-size: $x-small;
    flex-wrap: wrap;

    @media screen and (max-width:1100px){
      font-size: $x-small;
      max-width: 70%;
    }

    @media screen and (max-width:900px){
      margin-left: 0.5rem;
      text-align: start;
    }
    @media screen and (max-width:550px){
      font-size: $small;
      max-width: 90%;
    }
    
  }

}

//SchenduleDate
.schendule{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  .date-schendule{
    display: flex;
    width: 80%;
    background-color: #6E4CD8;
    margin: 0.5rem 0;
    position: relative;
    min-height: 2.5rem;

    @media screen and (max-width:700px){
      flex-direction: column;
      margin-bottom: 1.5rem;
      width: 95%;
    }
  
    .schendule_date_period{
        background-color: $primary-color;
        min-width: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $small + 0.2rem;
        font-weight: 600;
        
  
  
  
    }
    .schendule_date_description{
      padding: 1rem;
      font-size: $small + 0.2rem;
      position: relative;
      max-width: 65%;
      line-height: $small + 0.3rem;
      font-weight: 300;

      @media screen and (max-width:700px){
        max-width: 100%;
      }
      
      
      &::before{
        content: ' ';
        position: absolute;
        left: 0;
        z-index: 100;
        
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #4C4B63;

        @media screen and (max-width:700px){
          border: none;
        }
      }
    }
    .schendule_date_icon{
      
      position: absolute;
      right: -2rem;
      img{
        height: 3.5rem;

        @media screen and (max-width:700px){
          height: 2.5rem;
        }
      }

      @media screen and (max-width:700px){
        bottom: -1rem;
        right: -1rem;
      }
    }  
    &_during{
      .schendule_date_period{
        background-color: $tertiary-color;
      }
      .schendule_date_description{
  
  
        &::before{
          border-left: 10px solid $tertiary-color;
        }
      }
      .schendule_date_icon{
  
      }
    }
    &_after{
      .schendule_date_period{
        background-color: $quintenary-color;
      }
      .schendule_date_description{
        &::before{
          border-left: 10px solid $quintenary-color;
        }
      }
      .schendule_date_icon{
  
      }    
    }
    &_before{
      .schendule_date_period{
        
      }
      .schendule_date_description{
        &::before{
          border-left: 10px solid $primary-color;
        }
      }
      .schendule_date_icon{
  
      }   
    }
  }
}

//Scroll Bar Left
.scroll-bar-left{
  position: fixed;
  top: 25vh;
  left: 2rem;
  z-index: 10;
  background-color: white;
  display: flex;
  height: 50vh;
  width: 0.5rem;

  &>div{
    background-color: $primary-color;
    transition: height ease-in-out 0.2s;
    display: flex;
    width: 0.5rem;
  }
}