$primary-color: #5f00ba;
$secondary-color: #5c95ff;
$tertiary-color: #FDB833;
$quartenary-color: #EA526F;
$quintenary-color: #58ABA0;

$xx-small: 0.5rem;
$x-small: 0.8rem;
$small: 1rem;
$medium: 1.5rem;
$large: 2rem;
$x-large: 2.5rem;
$xx-large: 2.8rem;
$smaller: 3rem;