$primary-color: #5f00ba;
$secondary-color: #5c95ff;
$tertiary-color: #FDB833;
$quartenary-color: #EA526F;

$xx-small: 0.5rem;
$x-small: 0.8rem;
$small: 1rem;
$medium: 2.3rem;
$large: 2.5rem;
$x-large: 2.6rem;
$xx-large: 2.8rem;
$smaller: 3rem;